.hero-info-container{
    width:180px;
    height:120px;
    float: left;
}

.hero-info-container .icon{
    position: absolute;
    right: 0px;
    top: 0px;
}

.hero-info-container .txt{
    vertical-align: middle;
}

.hero-info-container .txt.small{
    font-size: small;
}

.hero-info-container .lvl{
    position: absolute;
    right: 40px;
    top: -2px;
}

.hero-info-container .rarity{
    position: absolute;
    right: 40px;
    top: -4px;
}

.hero-info-container .level-up{
    vertical-align: middle;
    margin-left: 3px;
}

.hero-info-container .divider{
    margin-bottom: 5px;
}

.absolute-reference{
    position: relative;
}