.progress-bar-container{
    width:80%;
    border-style: solid;
    border-width: 1px;
    border-color: #A64E00;
    background:#FFB573;
    margin-top: 5px;
    float: left;
}

.progress-bar{
    background: #FF7800;
    height:10px;
}