.dungeon-container{
    width: 250px;
    float: left;
}

.dungeon-illustration{
    position: absolute;
    top: 3px;
    left: 3px;
    bottom: 3px;
    width: 350px;
    margin-right: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #A64E00;
}