.recruit-info-container{
    float:left;
    width:150px;
    height:210px;
    border-style: solid;
    border-color: #A64E00;
    border-width: 2px;
    margin:20px;
    padding: 3px;
    background-color: #FF9A40;
    border-radius: 4px;
}

.recruit-info-positioning{
    position: relative;
    height: 100%;
}

.recruit-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recruit-button{
    width:100%;
    position: absolute;
    bottom: 0px;
}

.remove-txt{
    color:red;
}

.add-txt{
    color:green;
}